<div class="container p-3 d-flex flex-column">
    <h2>General products</h2>
    <div class="d-flex py-2 align-items-center">
        <a href="/admin/panel/resources/generalproduct/{pageNumber}" role="button" class="btn btn-outline-dark mx-2">
            <i class="fa fa-arrow-left fa-lg"></i>
        </a>
        <h3 class="d-inline-block">
            Create New
        </h3>
    </div>
    <form class="white-background p-4" method="post">
        <div class="form-group">
            <label for="productInput">Product name</label>
            <input type="text" id="productInput" name="productInput" class="form-control" placeholder="Enter product name">
        </div>
        <div class="form-group">
            <label for="categorySelectInput">Product category</label>
            <select class="form-control" id="categorySelectInput">
                {categoryoptions}
            </select>
        </div>
        <div class="form-group">
            <label for="manufacturerSelectInput">Product manufacturer</label>
            <select class="form-control" id="manufacturerSelectInput">
                {manufactureroptions}
            </select>
        </div>
        <div class="form-group">
            <label for="productImageInput">Product image URL</label>
            <input type="text" id="productImageInput" name="productImageInput" class="form-control" placeholder="Enter product image URL">
        </div>
        <div class="form-group">
            <label for="productDescriptionInput">Product description</label>
            <textarea id="productDescriptionInput" name="productDescriptionInput" class="form-control" placeholder="Enter product description" rows="5"></textarea>
        </div>

        <input type="hidden" name="_csrf" id="_csrf" value="{csrfToken}">
        <div class="alert" id="alertContainer">

        </div>
        <button type="button" class="btn btn-primary my-2" onclick="createNewGeneralProduct(); return false;">Create record</button>
    </form>
</div>