<div class="container p-3 d-flex flex-column">
    <h2>Categories</h2>
    <div class="d-flex py-2 align-items-center">
        <a href="/admin/panel/resources/manufacturer/{pageNumber}" role="button" class="btn btn-outline-dark mx-2">
            <i class="fa fa-arrow-left fa-lg"></i>
        </a>
        <h3 class="d-inline-block">
            Create New
        </h3>
    </div>
    <form class="white-background p-4" method="post">
        <div class="form-group">
        <label for="manufacturerInput">Manufacturer</label>
        <input type="text" id="manufacturerInput" name="manufacturer" class="form-control" placeholder="Enter manufacturer name">
    </div>
        <div class="form-group">
            <label for="manufacturerLogoInput">Manufacturer Logo Path</label>
            <input type="text" id="manufacturerLogoInput" name="manufacturer" class="form-control" placeholder="Paste manufacturer logo path">
        </div>

        <input type="hidden" name="_csrf" id="_csrf" value="{csrfToken}">
        <div class="alert" id="alertContainer">

        </div>
        <button type="submit" class="btn btn-primary my-2" onclick="createNewManufacturer(); return false;">Create record</button>
    </form>
</div>