<footer class="footer">
    <div class="container d-flex justify-content-between align-items-center">
        <div><a href="/contacts">Контакти</a></div>
        <div>&copy; ТОВ "Садівник" 2020</div>
    </div>
</footer>