<nav class="navbar navbar-expand-lg navbar-fixed-top main-background-color shadow">
    <a class="navbar-brand brand-font" href="/">САДІВНИК</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-list-ul"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown catalog my-2 px-lg-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-book"></i>
                    Каталог
                </a>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 col-lg-5 col-sm-12 px-sm-0">
            <input class="form-control col-sm-10" type="search" placeholder="Пошук..." aria-label="Search">
            <button class="btn default-button my-2 my-sm-0 col-sm-2" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <button class="btn default-button col-lg-1 col-sm-12 px-1 mx-lg-3 cart-button">
            <i class="fa fa-shopping-cart">  Кошик</i>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item dropdown catalog">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user">
                        <span id="account-text">  Ваш аккаунт</span>
                    </i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="account-dropdown" aria-labelledby="navbarDropdownAccount">
                    <a class="dropdown-item" href="#">Особистий кабінет</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Вийти</a>
                </div>
            </li>
        </ul>
    </div>
</nav>