<div class="main-content d-flex align-items-center justify-content-center h-100">
<div class="container col-lg-9 col-11 shadow-lg p-5 m-5 h-75">
    <div class="row">
        <div class="col-lg-5 col-11">
            <div class="d-flex justify-content-start contacts-header">
                Адреса
            </div>
            <div class="d-flex justify-content-start my-3">
                <span class="contacts-text">
                   Вулиця Гоголівська, 17, Житомир
                </span>
            </div>
            <div class="d-flex justify-content-start contacts-header">
                Години роботи
            </div>
            <div class="d-flex justify-content-start my-3">
                <span class="contacts-text">
                   Пн-Пт 09:00 - 18:00
                    <br>
                    Сб-Нд 09:00 - 16:00
                </span>
            </div>
            <div class="d-flex justify-content-start contacts-header">
                Телефон
            </div>
            <div class="d-flex justify-content-start my-3">
                <input type="text" class="contacts-text borderless-input" id="phone-number-input" value="(0412)-22-84-31" readonly>
                    <button id="copy-button" onclick="copyNumberToClipboard()" class="btn default-button" data-toggle="tooltip" data-palcement="top" title="Copied">
                    <i class="fa fa-copy fa-lg"></i>
                </button>

            </div>
        </div>
        <div class="col-lg-7 col-11">
            <div class="d-flex justify-content-start contacts-header">Ми на карті</div>
            <div class="embed-responsive embed-responsive-16by9 my-4">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5101.181252944464!2d28.678823838330054!3d50.26222967228042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20fe535bcdba974d!2z0KHQsNC00L7QstC-0LQsINCe0J7Qng!5e0!3m2!1sru!2sua!4v1590042427044!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">

            </iframe>
            </div>
        </div>
    </div>
</div>
<div class="push"></div>
</div>

